{% extends "layout.html" %}
{% block content %}

<h1 id="remember">Remember to hard reset</h1>...and should be deving in incognito
<br><br>
<div class="flex-container">
  <div id="form-one" class="flex-container">
    <form id="grams">
      <div class="row"><label>Flour<input type="text" readonly value="1000g"></label></div>
      <div class="row"><label>Water<input type="number" min="0" name="quantity" placeholder=" Total in grams"></label></div>
      <div class="row"><label>Salt<input type="number" min="0" name="quantity" placeholder="Total in grams"></label></div>
      <div class="row"><label>Riser<input type="number" min="0" name="quantity" placeholder="Total in grams"></label></div>
    </form>
  </div>

  <div id="form-two" class="flex-container">
    <form id="percent">
      <div class="row"><label><input type="text" readonly value="100%"></label></div>
      <div class="row"><label><input type="number" min="0" name="quantity" placeholder="Total %"></label></div>
      <div class="row"><label><input type="number" min="0" name="quantity" placeholder="Total %"></label></div>
      <div class="row"><label><input type="number" min="0" name="quantity" placeholder="Total %"></label></div>
    </form>
  </div>

  <table>

    <tr>
      <td>Flour</td>
      <td>1000g</td>
      <td>100%</td>
    </tr>

    <tr>
      <td>Water</td>
      <td>700g</td>
      <td>70%</td>
    </tr>

    <tr>
      <td>Salt</td>
      <td>20g</td>
      <td>2%</td>
    </tr>

    <tr>
      <td>Rising</td>
      <td>60g</td>
      <td>6%</td>
    </tr>
  </table>
</div>

{% endblock %}
