{% extends "layout.html" %}
{% block content %}

<form>
  <h1> MASTER FORMULA</h1>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Flour
          <input class="form-control" type="number" id="flour-g" min="0" readonly value="1000">
        </label>
        <label>
          %Flour
          <input class="form-control" readonly id="flour-p" type="text" value="100%">
        </label>

        <label><input class="form-control" type="submit" value="Split" onsubmit="return false"></label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Water
          <input class="form-control" type="number" id="hydro-g" min="0" onkeyup="updateTotal(hydro, salt, rise)">
        </label>
        <label>
          %Water
          <input class="form-control" type="number" id="hydro-p" min="0" onkeyup="updateTotal(hydro, salt, rise)">
        </label>
        <label><input class="form-control" type="submit" value="Split" onsubmit="return false"></label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Salt
          <input class="form-control" type="number" id="salt-g" min="0" onkeyup="updateTotal(hydro, salt, rise)">
        </label>
        <label>
          %Salt
          <input class="form-control" type="number" id="salt-p" min="0" onkeyup="updateTotal(hydro, salt, rise)">
        </label>
        <label>
          <input class="form-control" type="submit" value="Split" onsubmit="return false">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Rise<input class="form-control" type="number" id="rise-g" min="0" onkeyup="updateTotal(hydro, salt, rise)">
        </label>
        <label>
          %Rise<input class="form-control" type="number" id="rise-p" min="0" onkeyup="updateTotal(hydro, salt, rise)">
        </label>
        <label><input class="form-control" type="submit" value="Split" onsubmit="return false"></label>
      </div>
    </div>
  </form>
</form>

<p id="master-total">TOTAL 1000g</p>

<form>
  <h1> MOD FLOUR</h1>
  <div class="col-md-4">
    Desired Flour? <input class="form-control" type="number" id="one-dough-total" min="0"
                          placeholder="Variable flour size?"></div>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Loaf Flour
          <input readonly class="form-control" type="number" id="one-flour-gram" min="0" placeholder=" Total in grams">
        </label>
        <label>
          Loaf Flour %
          <input readonly class="form-control" class="form-control" type="number" id="one-flour-percent" min="0"
                 placeholder=" Total in %">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Gram Water
          <input class="form-control" readonly type="number" id="one-hydro-g" min="0" placeholder=" Total in grams">
        </label>
        <label>
          Percent Water
          <input class="form-control" readonly type="number" id="one-hydro-p" min="0" placeholder="Total water %">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Gram Salt
          <input class="form-control" readonly type="number" id="one-salt-g" min="0" placeholder="Total in grams">
        </label>
        <label>
          Percent Salt
          <input class="form-control" readonly type="number" id="one-salt-p" min="0" placeholder="Total salt %">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          Gram Rise
          <input class="form-control" readonly type="number" id="one-rise-g" min="0" placeholder="Total in grams">
        </label>
        <label>
          Percent Rise
          <input class="form-control" readonly type="number" id="one-rise-p" min="0" placeholder="Total yeast %">
        </label>
      </div>
    </div>
  </form>
</form>


<form>
  <h1> MULTI-LOAF</h1>
  <div class="col-md-4">
    xLoaves<input class="form-control" type="number" id="multi-dough-total" min="0" name="quantity"
                  placeholder="Multi loaves?">
  </div>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          xFlour
          <input class="form-control" readonly type="number" id="multi-flour-g" min="0" name="quantity"
                 placeholder="multiple loaves">
        </label>
        <label>
          xFlour %<input class="form-control" type="text" readonly value="100%">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          xWater<input class="form-control" readonly type="number" id="multi-hydro-g" min="0" name="quantity"
                       placeholder=" Total in grams">
        </label>
        <label>
          xWater %<input class="form-control" readonly type="number" id="multi-hydro-p" min="0" name="quantity"
                         placeholder="Total water %">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          xSalt<input class="form-control" readonly type="number" id="multi-salt-g" min="0" name="quantity"
                      placeholder="Total in grams">
        </label>
        <label>
          xSalt %<input class="form-control" readonly type="number" id="multi-salt-p" min="0" name="quantity"
                        placeholder="Total salt %">
        </label>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="col">
        <label>
          xRise<input class="form-control" readonly type="number" id="multi-rise-g" min="0" name="quantity"
                      placeholder="Total in grams">
        </label>
        <label>
          xRise %<input class="form-control" readonly type="number" id="multi-rise-p" min="0" name="quantity"
                        placeholder="Total yeast %">
        </label>
      </div>
    </div>
  </form>
</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type='text/javascript' src='../static/test.js'></script>


{% endblock content %}
