.flexing {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .2em;
}

section {
    display: flex;
    margin: 1em;
}